.cabecalho {
    background: #CCCCCC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px 0;
}

.secao-menu {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 110px;
    right: 0;
}

.menu_item {
    display: inline;
}

.menu_item a {   
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 15px;
}

.menu_item a:hover {
    color: #C78C19;
    text-decoration: underline;
}