.principal {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 940px;
    margin: 0 auto;
}

.formulario {
    margin: 40px 0;
}

.formulario_titulo {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.formulario_campo {
    display: block;
    margin: 20px 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.formulario_checkbox {
    margin: 20px 0;
    font-size: 20px;
}

.formulario_botao {
    display: block;
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s all;
}

.formulario_botao:hover {
    background: darkorange;
    transform: scale(1.2);
}

.tabela {
    margin: 20px 0 40px;
}

.tabela_cabecalho {
    background: gray;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px ;
}