.principal {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 940px;
    margin: 0 auto;
}

.formulario {
    margin: 40px 0;
}

.formulario_titulo {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.formulario_campo {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.formulario_checkbox {
    margin: 20px 0;
    font-size: 20px;
}